SoundFile
munch
pydub
pyyaml
torchaudio==2.5.1
librosa
pydub
pyyaml
nltk
matplotlib
unidic-lite
torch==2.5.1
xlstm
fugashi
cutlet
sentencepiece
setuptools
accelerate
transformers<4.50.0
einops
einops-exts
tqdm
typing
typing-extensions
a_unet
git+https://github.com/resemble-ai/monotonic_align.git
gradio
konoha
